body
    font-family: Montserrat
    width: 100vw
    height: 100vh
    overflow: hidden

.app,
#root
    position: relative
    height: 100%
    
h1,
p
    z-index: 1
    color: white
    margin: 0
    padding: 0

h1
    font-family: Montserrat

button
    border: none
    background: none
    padding: 0
    &:hover
        cursor: pointer