body
    font-family: Montserrat
    width: 100vw
    height: 100vh
    overflow-x: hidden
    position: relative

.app,
#root
    position: relative
    height: 100%
    
h1,
p
    z-index: 1
    color: white
    margin: 0
    padding: 0

h1
    font-family: Montserrat

button
    border: none
    background: none
    padding: 0
    &:hover
        cursor: pointer

.subpage
    width: calc(100vw - 200px)
    height: auto
    overflow:hidden
    padding: 100px
    p
        color: black

input
    width: 120px