.skill-panel,
.ability-panel
    &__header
        text-transform: uppercase
        margin-top: 20px
    &__item
        padding: 10px
        border: 1px solid #e0e0e0
        margin: 10px 0
        display: flex
        justify-content: space-between
    &__select
        padding: 10px