.skill-panel 
    &__header
        text-transform: uppercase
    &__skill 
        padding: 10px
        border: 1px solid #e0e0e0
        margin: 10px 0
        display: flex
        justify-content: space-between