@keyframes animateBackground {
  from {
    background-color: transparent; }
  to {
    background-color: #171717; } }

body {
  font-family: Montserrat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #2c283a; }

.app,
#root {
  position: relative;
  height: 100%; }

h1,
p {
  color: white;
  margin: 0;
  padding: 0; }

button {
  border: none;
  background: none;
  padding: 0; }
  button:hover {
    cursor: pointer; }
  button:focus {
    outline: none; }

input {
  background: none;
  border: none;
  color: white;
  font-family: Montserrat;
  padding: 10px; }
  input::placeholder {
    color: white; }
  input:hover {
    cursor: pointer; }
  input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.1); }

select {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  padding-right: 50px;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }
  select:focus {
    background-image: linear-gradient(45deg, black 50%, transparent 50%), linear-gradient(135deg, transparent 50%, black 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border: 2px solid black;
    outline: none; }

.main-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  margin: 15px 0; }
  .main-label .fas,
  .main-label .far {
    margin-right: 10px; }

.default-checkbox {
  margin: 10px;
  display: flex;
  margin-left: auto; }

.content {
  height: auto; }

.default-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse; }
  .default-table__header-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: .9rem;
    font-weight: 400;
    color: white;
    padding: 10px 5px; }
    @media (max-width: 1199px) {
      .default-table__header-item {
        font-size: .7rem; } }
    @media (max-width: 992px) {
      .default-table__header-item {
        display: block; } }
  .default-table__item {
    border: 1px solid rgba(255, 255, 255, 0.1); }
    @media (max-width: 992px) {
      .default-table__item {
        display: flex;
        align-items: center; }
        .default-table__item::before {
          content: attr(data-label);
          float: left;
          margin-left: 20px;
          color: white;
          text-align: left; } }
  @media (max-width: 992px) {
    .default-table__item, .default-table__header-item {
      font-size: .8em;
      text-align: right; } }
  .default-table__input {
    padding: 10px;
    width: calc(100% - 20px); }
    @media (max-width: 992px) {
      .default-table__input {
        margin-left: auto;
        text-align: right;
        width: 100px;
        padding: 20px; } }
  @media (max-width: 992px) {
    .default-table__thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; } }
  @media (max-width: 992px) {
    .default-table__row {
      display: block; } }

.default-input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: Montserrat;
  font-size: 1rem;
  padding: 15px;
  width: calc(100% - 30px); }
  .default-input--number-type {
    max-width: 50px; }

.default-select {
  margin: 10px 0; }

.navigation {
  position: absolute;
  background: #2c283a; }
  .navigation__container {
    width: calc(100vw - 80px);
    padding: 20px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .navigation__bar {
    display: flex;
    flex-flow: row;
    z-index: 4;
    transition-delay: 0.2s;
    width: 40px;
    height: 40px; }
  .navigation__button {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    flex: 0;
    padding: 5px;
    align-items: flex-end; }
  .navigation__logout-button {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    color: white; }
    .navigation__logout-button .fas {
      margin-left: 10px; }
  .navigation__button-bar {
    position: relative;
    width: 1.1em;
    height: 3px;
    border-radius: 5px;
    background: white; }
    .navigation__button-bar--close {
      transform-origin: center center;
      position: absolute;
      margin-top: -1.5px;
      opacity: 0;
      top: 50%;
      opacity: 0;
      transition: transform 0.5s ease-in-out, opacity 0.125s ease-in-out 0.5s; }
      .navigation__button-bar--close:not(:last-child) {
        transform: rotate(45deg) translateX(-250%); }
      .navigation__button-bar--close:last-child {
        transform: rotate(-45deg) translateX(250%); }
    .navigation__button-bar--open {
      opacity: 1;
      transition: transform 0.3s ease-in-out 0.5s, opacity 0.15s ease-in-out 0.5s; }
      .navigation__button-bar--open:not(first-child) {
        margin-top: 5px; }
      .navigation__button-bar--open:nth-child(1) {
        transform-origin: top right;
        transform: rotate(-45deg);
        width: 1.8em; }
      .navigation__button-bar--open:nth-child(2) {
        transform: rotate(-45deg) translate(0, -5px); }
      .navigation__button-bar--open:nth-child(3) {
        transform: rotate(-45deg) translate(0, 1px);
        width: 0.9em; }
  .navigation__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: z-index 0.01s ease-in-out 0.5s; }
  .navigation__background {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    min-height: 100vw;
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: center;
    transform: rotate(45deg) scale(1.2); }
    .navigation__background-part {
      background: #171717;
      flex: 1 1 100%;
      transition: transform 0.5s ease-in-out; }
      .navigation__background-part:nth-child(odd) {
        transform: translateX(-100%); }
      .navigation__background-part:nth-child(even) {
        transform: translateX(100%); }
  .navigation__links {
    display: none; }
  .navigation--open .navigation__bar {
    background: none; }
  .navigation--open .navigation__button-bar:nth-child(1) {
    transform: rotate(-45deg) translateX(-400%); }
  .navigation--open .navigation__button-bar:nth-child(2) {
    transform: rotate(-45deg) translate(0, -4px) translateX(200%); }
  .navigation--open .navigation__button-bar:nth-child(3) {
    transform: rotate(-45deg) translate(0, 1px) translateX(200%); }
  .navigation--open .navigation__button-bar--close {
    opacity: 1;
    transition: transform 0.5s ease-in-out 0.3s, opacity 0.125s ease-in-out 0.3s; }
    .navigation--open .navigation__button-bar--close:not(:last-child) {
      transform: rotate(45deg); }
    .navigation--open .navigation__button-bar--close:last-child {
      transform: rotate(-45deg); }
  .navigation--open .navigation__button-bar--open {
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out 0.15s; }
  .navigation--open .navigation__container {
    height: 100vh; }
  .navigation--open .navigation__content {
    z-index: 3;
    transition: z-index 0.01s ease-in-out 0.3s;
    animation-name: animateBackground;
    animation-delay: 1s;
    animation-fill-mode: forwards; }
  .navigation--open .navigation__background-part {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out 0.3s; }
  .navigation--open .navigation__links {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation--open .navigation__list {
    padding: 0;
    list-style: none;
    text-align: center; }
  .navigation--open .navigation__item {
    margin: 20px 0; }
  .navigation--open .navigation__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .5s; }
    .navigation--open .navigation__link--active {
      position: relative;
      font-size: 24px; }
      .navigation--open .navigation__link--active:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -50px;
        transform: translateY(-50%);
        width: 30px;
        height: 4px;
        background: white; }
    .navigation--open .navigation__link:hover {
      transition: all .5s;
      position: relative;
      font-size: 24px; }
      .navigation--open .navigation__link:hover:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -40px;
        transform: translateY(-50%);
        width: 30px;
        height: 4px;
        background: white; }

.login-page {
  background: #2c283a;
  width: 100vw;
  height: 100vh; }
  .login-page .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3d3850;
    box-shadow: 2px 0px 10px 0px #212020;
    padding: 30px;
    min-width: 350px; }
    .login-page .login-form__input-container {
      display: flex;
      align-items: center; }
      .login-page .login-form__input-container--user::before, .login-page .login-form__input-container--password::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: inline-block;
        color: white; }
      .login-page .login-form__input-container--user::before {
        content: "\f007"; }
      .login-page .login-form__input-container--password::before {
        content: "\f023"; }
    .login-page .login-form__input {
      margin: 10px;
      width: calc(100% - 20px); }
    .login-page .login-form__button {
      float: right;
      padding: 10px 20px;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }

.user-panel__header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 30px; }
  .user-panel__header--span {
    font-family: 'Kaushan Script', cursive;
    text-transform: initial;
    font-size: 4rem;
    margin-right: 10px; }

.user-panel__input {
  border: 1px solid #efebeb;
  padding: 10px;
  margin: 10px; }
  .user-panel__input:active, .user-panel__input:focus {
    border: 2px solid black;
    outline: none; }
  .user-panel__input > option {
    padding: 5px;
    margin: 50px 0; }

.user-panel__text {
  margin: 20px 0 10px 0; }

.user-panel__experience {
  display: flex; }
  .user-panel__experience-box {
    width: 48%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: inline-flex;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 2% 20px 0; }
  .user-panel__experience-input {
    width: inherit;
    padding: 0;
    text-align: center;
    font-size: 1.4rem; }
  .user-panel__experience-label {
    font-size: .8rem; }

.quick-informations {
  width: 30%;
  padding: 60px;
  background: #3d3850;
  box-shadow: 2px 0px 10px 0px #212020;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .quick-informations::-webkit-scrollbar {
    display: none; }

.card-interface {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%), url("http://www.banktapet.pl/pictures/2012/0611/1/trees-forest-fantasy-art-mag-pics-684623.jpg");
  background-size: cover;
  outline-offset: -40px;
  position: relative; }
  .card-interface:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #030120;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 62%, rgba(0, 0, 0, 0.9) 100%);
    transition: background .3s linear;
    z-index: 0; }
  .card-interface__text-container {
    position: absolute;
    bottom: 20%;
    left: 15%; }
  .card-interface__header {
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .card-interface__description {
    width: 35%;
    line-height: 1.3;
    opacity: .8;
    font-size: .9rem; }
  .card-interface__button {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 30px;
    position: relative; }
    .card-interface__button:after {
      content: '';
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
      background: white;
      width: 30px;
      height: 4px;
      position: absolute; }

.name-list {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  overflow: hidden;
  width: 200px;
  scroll-behavior: smooth; }
  .name-list__item {
    color: white;
    padding: 10px 0;
    text-align: right;
    opacity: .1;
    font-size: .9rem; }
    .name-list__item:focus {
      outline: none; }
  .name-list .slick-active .name-list__item {
    opacity: .6; }
  .name-list .slick-current .name-list__item {
    opacity: 1;
    position: relative;
    right: 40px; }
    .name-list .slick-current .name-list__item:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      width: 30px;
      height: 4px;
      background: white; }

.profession-list .slick-slide {
  width: 100vw;
  height: 100vh; }

.card-extended {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 9999999;
  background: grey;
  width: 80%;
  height: 80%; }
  .card-extended .header-icons {
    margin: 10px 15px;
    color: white; }
  .card-extended .card-description {
    padding: 20px;
    color: white; }

.select {
  position: absolute;
  top: 0; }

.select-subpage {
  background: white;
  color: black;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box; }
  .select-subpage__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px; }
  .select-subpage__start-professions, .select-subpage__end-professions {
    padding: 10px;
    margin: 10px;
    height: 40px; }
  .select-subpage__button {
    color: black;
    padding: 20px; }
  .select-subpage__select-button {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    margin: 10px;
    border: 1px solid darkgray;
    padding: 10px 30px; }
    .select-subpage__select-button:hover {
      cursor: pointer; }
  .select-subpage__list {
    color: black;
    list-style: none;
    padding: 0; }
  .select-subpage__item {
    margin: 30px 0;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #efebeb; }
    .select-subpage__item--active {
      font-size: 24px; }
      .select-subpage__item--active .select-subpage__path {
        margin: 50px 0 30px 20px;
        font-size: 30px;
        font-weight: 300; }
        .select-subpage__item--active .select-subpage__path--icon {
          font-size: 16px; }
      .select-subpage__item--active .select-subpage__paragraph {
        color: black;
        margin: 10px 0;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 300; }
      .select-subpage__item--active .select-subpage__list {
        width: 100%;
        margin-left: 50px;
        list-style: none;
        column-count: 3; }
        .select-subpage__item--active .select-subpage__list-item {
          font-size: 16px;
          font-weight: 300;
          font-family: Roboto; }
          .select-subpage__item--active .select-subpage__list-item:before {
            content: "\f00c";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.5em;
            font-size: 13px; }
      .select-subpage__item--active .select-subpage__button {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center; }
  .select-subpage__path {
    color: black;
    width: 90%; }
    .select-subpage__path--icon {
      font-size: 12px;
      margin: 0 10px; }
  .select-subpage__full-description {
    width: 100%;
    color: black; }
  .select-subpage__number {
    color: black;
    position: absolute;
    top: 10px;
    font-size: 100px;
    font-weight: 700;
    opacity: .1;
    user-select: none; }
  .select-subpage__table {
    border: 1px solid #efebeb;
    margin-top: 40px;
    border-collapse: collapse; }
  .select-subpage__table-item {
    font-size: .8rem;
    border: 1px solid #efebeb;
    padding: 10px; }
  .select-subpage p {
    color: black; }

.listOfSkills {
  top: 100px;
  position: relative;
  overflow-y: scroll; }

.user-panel input {
  background: none;
  border: none;
  color: white;
  font-family: Montserrat; }
  .user-panel input:hover {
    cursor: pointer; }
  .user-panel input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.1); }

.user-panel select {
  background: none;
  border: none;
  color: white;
  font-family: Montserrat;
  margin-left: 0; }
  .user-panel select option {
    color: black;
    background: white; }
  .user-panel select:hover {
    cursor: pointer; }
  .user-panel select:focus {
    background: none;
    outline: 1px solid rgba(255, 255, 255, 0.1); }

textarea {
  width: 100%;
  max-height: 80px;
  background: none;
  border: none;
  font-family: Montserrat;
  color: white; }
  textarea:focus {
    outline: 1px solid rgba(255, 255, 255, 0.1); }

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.user-panel {
  background: #2c283a;
  display: flex;
  flex-direction: row;
  color: white;
  height: 100vh;
  margin-top: -80px; }
  .user-panel__statistics {
    width: 70%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .user-panel__statistics::-webkit-scrollbar {
      display: none; }
  .user-panel__login {
    font-weight: bold;
    font-size: 2.3rem;
    width: 100%;
    padding: 10px 50px 10px 0; }
    .user-panel__login:focus {
      outline: 1px solid rgba(255, 255, 255, 0.1); }
  .user-panel__race {
    opacity: .5;
    padding: 10px 50px 10px 0; }
    .user-panel__race:focus {
      background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, #ccc, #ccc);
      border: 1px solid rgba(255, 255, 255, 0.1); }
  .user-panel__profession-options {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .user-panel__profession-select {
    width: fill-available; }
  .user-panel__remove-profession {
    color: white;
    margin-left: 20px; }
    .user-panel__remove-profession:hover .user-panel__delete-span {
      display: inline;
      margin-left: 10px; }
  .user-panel__delete-span {
    display: none; }
  .user-panel__label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    margin: 15px 0; }
    .user-panel__label .fas,
    .user-panel__label .far {
      margin-right: 10px; }
  .user-panel .feature-table {
    background: #3d3850;
    border-radius: 10px;
    padding: 20px;
    width: 96%;
    margin: 20px 2%;
    border-collapse: collapse; }
    .user-panel .feature-table th, .user-panel .feature-table td {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .user-panel .feature-table tbody tr:last-of-type th, .user-panel .feature-table tbody tr:last-of-type td {
      border: none; }
    .user-panel .feature-table__item {
      font-size: .8rem;
      text-align: center;
      position: relative;
      padding: 15px 0; }
      .user-panel .feature-table__item--row-header {
        text-align: left;
        padding: 15px; }
      .user-panel .feature-table__item--buttons {
        display: flex;
        flex-direction: column; }
      .user-panel .feature-table__item:hover .feature-table__details-description {
        display: initial; }
    .user-panel .feature-table__details-description {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      background: #2c283a;
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px;
      width: 150px;
      display: none; }
    .user-panel .feature-table__button {
      padding: 5px;
      margin: 5px 10px;
      background: white;
      width: 50px;
      font-size: 1rem; }
      .user-panel .feature-table__button--not-active {
        opacity: .1; }
        .user-panel .feature-table__button--not-active:hover {
          cursor: initial; }
    .user-panel .feature-table input {
      width: 50px;
      text-align: center; }
  .user-panel .skill-panel,
  .user-panel .ability-panel {
    background: #3d3850;
    border-radius: 10px;
    padding: 20px;
    width: 44%; }
  .user-panel__textarea-button {
    color: white;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    position: relative; }
    .user-panel__textarea-button:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      display: inline-block;
      position: absolute;
      top: 0;
      left: calc(100% + 10px);
      display: none; }
  .user-panel .user-abilities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    margin: 20px 2%; }
  .user-panel .character-panel {
    background: #3d3850;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 2%; }
  .user-panel .items-list__label {
    display: flex;
    margin: 15px 0 5px 0;
    font-size: .9rem; }
    .user-panel .items-list__label span {
      font-size: .7rem;
      opacity: .7;
      display: flex;
      align-items: center; }
  .user-panel .items-list__description {
    font-size: .8rem;
    opacity: .2; }
  .user-panel .items-list__buttons {
    margin-left: auto; }
    .user-panel .items-list__buttons .fas {
      margin: 0 10px; }
      .user-panel .items-list__buttons .fas:hover {
        cursor: pointer; }
  .user-panel .items-list__quantity {
    margin-left: 10px; }
  .user-panel .items-list__input {
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); }

.skill-panel__select-container,
.ability-panel__select-container {
  position: relative; }
  .skill-panel__select-container:before,
  .ability-panel__select-container:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
    display: inline-block;
    margin-right: 10px; }

.skill-panel__item,
.ability-panel__item {
  width: 100%;
  display: flex;
  margin: 15px 0;
  font-size: .9rem; }
  .skill-panel__item span,
  .ability-panel__item span {
    margin-left: 10px;
    font-size: .7rem;
    opacity: .7;
    display: flex;
    align-items: flex-end; }
  .skill-panel__item .fas,
  .ability-panel__item .fas {
    margin-left: auto; }

.character-list__item {
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1); }
  .character-list__item .fas {
    margin-right: 20px; }

.character-list__link {
  color: white;
  text-decoration: none; }

.content {
  padding: 40px 60px;
  padding-top: 120px;
  height: calc(100% - 80px);
  overflow: scroll; }

.new-character__button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  float: right;
  margin-top: 20px;
  color: white; }
