body
    font-family: Montserrat
    width: 100vw
    height: 100vh
    overflow: hidden
    position: relative

.app,
#root
    position: relative
    height: 100%
    
h1,
p
    color: white
    margin: 0
    padding: 0

button
    border: none
    background: none
    padding: 0
    &:hover
        cursor: pointer
    &:focus
        outline: none

input
    background: none
    border: none
    color: white
    font-family: Montserrat
    padding: 10px
    &::placeholder
        color: white
    &:hover
        cursor: pointer
    &:focus
        outline: 1px solid $border-color

select
    border: 1px solid $border-color
    padding: 10px
    padding-right: 50px
    margin: 10px  
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-appearance: none
    -moz-appearance: none
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc)
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em
    background-size: 5px 5px, 5px 5px, 1px 1.5em
    background-repeat: no-repeat
    &:focus
        background-image: linear-gradient(45deg, black 50%, transparent 50%), linear-gradient(135deg, transparent 50%, black 50%), linear-gradient(to right, #ccc, #ccc)
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em
        background-size: 5px 5px, 5px 5px, 1px 1.5em
        background-repeat: no-repeat
        border: 2px solid black
        outline: none